{% extends 'layouts.html' %}
{% block content %}

<pre id="codebox">

    </pre>
<div id="extras"></div>

<script>
    function refresh() {
        $.ajax({
            url: 'json/{{ajaxdata}}',
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                $("#extras").text(data.ip + " " + data.time + " " + data.etime + " " + data.cur)
                $("#codebox").text(data.code);
                $("#codebox").html($("#codebox").text()).text();
            }
        });
    }
    setInterval(refresh, 1000);
</script>
{% endblock %}