<html lang="en">
    <head>
        <title>WeCode</title>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <style>
            *[contenteditable="true"] {
                width: 100%;
                display: inline-block;
                height: 100%;
            }
        </style>
        <script src="{{url_for('static',filename='main.js')}}"></script>
    </head>
    <body>
        {% block content %}

        {% endblock %}
    </body>
</html>